<h1>投稿一覧</h1>
<!--each文に=は不要/ブロック変数-->
<% @lists.each do |list| %>

<p>タイトル</p>

<!--名前付きルートasオプションのlist/list_path(showアクションへ)引数必須-->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>
<!--画像の表示-->
  <p>画像</p>
  <%= image_tag list.image, size: "200x200" %>
<% end %>